{% extends 'base.html' %}
{% block content %}
<h1>Case</h1>

{% if request.user.id == case.owner.id %}
<a href="{% url 'delete-case' case.id %}">刪除</a>&nbsp;&nbsp;
<a href="{% url 'update-case' case.id %}">修改</a>  
{% endif %}

<ul>
    <li>[{{case.category}}]<b>{{case.title}}</b>(檢視次數:{{case.view}})</li>
    <li>上架日期:{{case.createdon|date:"Y/m/d"}}</li>
    <li>專案狀態:{{case.state}}</li>
    <li>發案人:{{case.owner.username|upper}}
        {% if case.owner.city %}
        ({{case.owner.city}})
        {% else %}
        (管理員)
        {% endif %}
    </li>
    <li>金額:{{case.amount}}</li>
    <li>內容:{{case.description|linebreaks}}</li>
    <li>技能:{{case.skill|linebreaks}}</li>
    <li>合作方式:{{case.contact}}</li>
    <li>合作週期:{{case.period}}</li>
    <li>合作對象:
        {% for resp in case.respondent.all %}
        {{resp}}|
        {% endfor %}
    </li>
    <li>合作方式:
        {% for mode in case.mode.all %}
        {{mode}}|
        {% endfor %}
    </li>
</ul>
{% endblock %}